.signUpBox {
    width: 100%;
    max-width: 500px;
    position: relative;
    left: 13%;
    top: 7%;
  }

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    color: #333;
    padding: 20px 0px;
    font-size: 40px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;
    font-size: 20px;
  }
  
  input:focus {
    border-color: #555;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  span{
    padding: 30px 0px;
    font-size: 20px;
    text-align: center;
  }

  span a{
    color: royalblue;
    text-decoration: none;
    transition: all ease 0.5s;
  }
  span a:hover{
    color: rgb(28, 70, 197);
    font-weight: 600;
  }