{% extends "base.html" %}
{% block title %}{% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/feedBackStyle.css">
{% endblock %}
{% block img %}{% endblock %}
{% block content %}
<div class="feedBox">
    <h2>Leave your <span>FeedBack</span></h2>
    <form action="" method="post">
        <textarea cols="40" rows="10" placeholder="Enter Your Text"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
{% block mainContent %}{% endblock %}