<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock  %}</title>
    {% block style %}
    <link rel="stylesheet" href="../static/css/style.css">
    {% endblock %}
</head>
<body>
    <div class="page">
        <nav class="menu">
            <div class="tri"></div>
            <div class="cir"></div>
            <h4>Codesk</h4>
            {% if current_user.is_authenticated %}
            <a href="{{url_for('home')}}">Home</a>
            <a href="#">Our Stories</a>
            <a href="#">Pricing</a>
            <a href="{{url_for('feedBack')}}">Support</a>
            <a href="{{url_for('logout')}}">Logout</a>
            {% else %}
            <a href="{{url_for('home')}}">Home</a>
            <a href="#">Our Stories</a>
            <a href="#">Pricing</a>
            <a href="{{url_for('feedBack')}}">Support</a>
            <a href="{{url_for('login')}}" class="getStarted">Get Started</a>
            <a href="{{url_for('register')}}" class="signIn">Sign up</a>
            <img src="../static/images/search.png">
            {% endif %}
        </nav>
        <div class="flashes">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages  %}
                        <div class="msgBox">
                        <span>{{message}}</span>
                        <button><a href="{{url_for('home')}}">OK</a></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block img %}
        <img src="../static/images/pm-landing1.jpg" class="mainImg">        
        {% endblock %}

        {% block content %} 
        {% endblock  %}

        {% block mainContent %}
        <h1 class="heading">Project<br>Management</h1>
        <h1 class="subHeading">Time to get organised</h1>
        <hr>
        <p>
            you wouldn't fly without an altimeter<br>
            speedometer, radar, or aircraft controller. Why<br>
            work without a competent project manager?  
        </p>
        {% if current_user.is_authenticated %}
        {% else %}
        <button class="start"><a href="{{url_for('login')}}">Get Started</a></button>
        {% endif %}
        <button class="read">Read our stories</button>
        <img src="../static/images/facebook.png"class="fb">
        <img src="../static/images/instagram.png"class="ig">
        <img src="../static/images/twitter.png"class="twt">
        {% endblock %}
    </div>
</body>
</html>