{% extends "base.html" %}

{% block title %}Get Started{% endblock  %}

{% block style %}
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/loginStyle.css">
{% endblock %}

{% block content %}
<div class="loginBox">
    <div class="card">
      <h2>Login Here</h2>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>{{form.email}}</div>
        <div>{{form.password}}</div>
        <button type="submit">Login</button>
        <span>Don't Have an Account? <a href="{{url_for('register')}}">Sign Up</a></span>
      </form>
    </div>
  </div>

{% endblock  %}

{% block mainContent %}

{% endblock %}